@charset "utf-8";
body{font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}

.content{
	width: 800px;
	margin:10px auto;
	border: 1px solid #e4e4e4;
	padding:8px;
}

