<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>示例</title>
    <link href="/Static/Css/base.css" rel="stylesheet">
    <script src="/Static/Js/base.js"></script>
</head>
<body>
    <div class="content">
        <h1>欢迎使用 {{ web_name}} </h1>
        --用来搭建API或WEB项目的微型PHP5框架
    </div>
</body>
</html>